{% extends 'base.html.twig' %}

{% block title %}Список курсов{% endblock %}

{% block body %}
    <h1>Список курсов</h1>

    {% for course in courses %}
        <tr>

            <h1><a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.Name }}</a></h1>
            <p>{{ course.Description }}</p>
{#            <td>#}
{#                <a href="{{ path('app_course_show', {'id': course.id}) }}">show</a>#}
{#                <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>#}
{#            </td>#}
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}



    <a href="{{ path('app_course_new') }}">Создать новый курс</a>
{% endblock %}
