<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}StudyOn{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand text-success" href="{{ path('app_course_index') }}">
            <img src="https://dummyimage.com/600x600/00660a/ffffff&text=S" height="35" alt="" loading="lazy">
            StudyOn
        </a>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_profile') }}" class="nav-link px-2 text-white">Профиль пользователя</a>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <div class="text-end">
                <a href="{{ path('app_profile') }}" class="btn btn-outline-dark me-2 fs-5">{{ app.user.email }}</a>
                <a href="{{ path('app_logout') }}" class="btn btn-warning fs-5">Выход</a>
            </div>
        {% else %}
            <div class="text-end">
                <a href="{{ path('app_login') }}" class="btn btn-outline-dark  me-2 fs-5">Авторизация</a>
                <a href="{{ path('app_register') }}" class="btn btn-warning fs-5">Регистрация</a>
            </div>
        {% endif %}
    </div>
</nav>

{% block body %}{% endblock %}




</body>
</html>